graft docs
graft src/wafo
include requirements.txt
include README.rst
include LICENSE.txt

exclude build_package.py
exclude source
global-exclude *.py[cod]
global-exclude *.so
global-exclude .svn*
global-exclude Makefile
